/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
}

a { 
    color: #149ddd;
    text-decoration: none;
}

a:hover { 
    color: #37b3ed;
    text-decoration: none;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/






/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  position: fixed;
  top: 0px;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 60px 15px 0 15px;
  background: #357064;
  overflow-y: auto;
}


/* Name heading */
.header .profile h1 {
  font-size: 30px;
  line-height: 2;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

/* Name hyper link to index.html */
.header .profile h1 a, #header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

/* Social Media Icons grouped */
.header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #003C5C;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

/* Social Media Icons grouped transition */
.header .profile .social-links a:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
}

.main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  .header {
    left: -300px;
  }
  .main {
    margin-left: 0;
  }
}

.active {
  left:0px;
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */

.nav-menu {
  padding: 30px 0 0 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i {
  font-size: 24px;
  padding-right: 8px;
  color: #fff;
}

.nav-menu a:hover, .nav-menu .active, .nav-menu li:hover > a {
  text-decoration: none;
  color: #4fc7ff;
}

.nav-menu a:hover i, .nav-menu .active i, .nav-menu li:hover > a i {
  color: #4fc7ff;
}


/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #149ddd;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .header {
  left: 0;
}



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero .shift {
    margin: 50px 0;
  }

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
  text-align: center;
  align-items: center;
}


#hero .profile-pic {
  margin: 15px auto;
  display: block;
  width: 200px;
}

#hero .profile-pic img {
  border: 10px solid #003C5C;
}


#hero h1 {
  margin: 10px 0 10px 0;
  font-size: 55px;
  font-weight: 600;
  line-height: 56px;
  color: #000;
}


#hero .p-one {
  margin-top: 15px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero .p-two {
  margin-top: -6px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}


/* Media query for hero section */


@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}



/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about {
  background: #edf5f3;
  padding: 50px 0; 
}

.about h2 {
  font-size: 2.5rem;
  color: #003C5C;
  font-weight: 600;
  margin-bottom: 30px;
  border-bottom: 3px solid #149ddd;
  width: 120px;
}

.about .content {
  margin-top: 30px;
}

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  padding-bottom: 25px;
  color: #173b6c;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #149ddd;
  line-height: 0;
}

.about .content p {
  margin:25px 0;
}
.about .content p:last-child {
  padding-top: 10px;
}


/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/

.skills {
  padding: 50px 0;
}

.skills h2 {
  font-size: 2.5rem;
  color: #003C5C;
  font-weight: 600;
  margin-bottom: 30px;
  border-bottom: 3px solid #149ddd;
  width: 100px;
}

.skills h4 {
  margin-bottom: 25px;
}

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #050d18;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #dce8f8;
  height: 10px;
}

.skills .progress-bar {
  /* width: 1px; */
  height: 10px;
  transition: .9s;
  background-color: #6ddec6;
}


/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

.portfolio {
  background: #edf5f3;
  padding: 50px 0; 
}

.portfolio h2 {
  font-size: 2.5rem;
  color: #003C5C;
  font-weight: 600;
  margin-bottom: 30px;
  border-bottom: 3px solid #149ddd;
  width: 170px;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  font-size: 28px;
  text-align: center;
  background: #5fb8a5;
  transition: 0.3s;
  width: 100%;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: #6ddec6;
}

.portfolio .portfolio-wrap .portfolio-links a + a {
  border-left: 1px solid #37b3ed;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #149ddd;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #149ddd;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(5, 13, 24, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}



/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background: #f9f9f9;
}

.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #0e2442;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}



/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services {
  padding: 50px 0;
}

.services h2 {
  font-size: 2.5rem;
  color: #003C5C;
  font-weight: 600;
  margin-bottom: 60px;
  border-bottom: 3px solid #149ddd;
  width: 160px;
}

.services .icon-box {
  margin-bottom: 20px;
}

.services .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: #6ddec6;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #6ddec6;
}

.services .icon i {
  color: #fff;
  font-size: 24px;
  line-height: 0;
}


.services .icon-box:hover .icon {
  background: #fff;
}

.services .icon-box:hover .icon i {
  color: #6ddec6;
}

.services .title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #343a40;
}

/* .services .title a:hover {
  color: #149ddd;
} */

.services .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}



/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact {
  padding: 50px 0 130px 0;
}

.contact h2 {
  font-size: 2.5rem;
  color: #003C5C;
  font-weight: 600;
  margin-bottom: 60px;
  border-bottom: 3px solid #149ddd;
  width: 160px;
}

.contact .section-title p {
  font-weight: 700;
  font-size: large;
  padding-bottom: 30px;
  text-align: center;
  
}


.contact .box-shadow {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .flex-container {
  display: flex;
}

.contact .info p {
  padding: 0 0 0px 10px;
  margin-top: 3px;
  font-size: 17px;
  color: #173b6c;
}

.contact .notice p {
  text-align: center;
  padding: 10px 0 20px 0;
}


/* php form section */

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 15px;
}


.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #5fb8a5;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #6ddec6;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}









/* Media Query for padding between header and body */

@media (min-width: 890px) {
.shift-two {
    padding-left: 300px;
  }
}

@media (min-width: 890px) {
.shift {
    padding-left: 280px;
  }
}



